<header class="global-header header header-layout js-bar-links">
    <div class="super-nav">
      <div class="container-modified">
        <a href="/" class="global-header-title">
          <img class="pivotal-logo" src="https://d1fto35gcfffzn.cloudfront.net/images/docs/logo-tanzu-docs.svg">
        </a>
        <div class="header-links">
           <div class="header-item">
            <a href="https://tanzu.vmware.com/support">Support</a>
          </div>
          <div class="header-item">
            <a href="https://network.pivotal.io">Downloads</a>
          </div>
          <div class="header-item" id="contact-header-item">
            <a href="https://tanzu.vmware.com/contact">Contact Us</a>
          </div>
          <div class="header-item">
            <a href="https://login.run.pivotal.io">Sign In</a>
          </div>
        </div>
      </div>
    </div>
    <div id="info-search-bar">
      <div class="container-modified">
          <div class="local-header title-container">
    <div class="local-header local-title clearfix">
      <div class="img-container"><img src="/images/cloud_rings.png"></div>
      <span class="local-header-title">Pivotal Distribution of OpenJDK</span>

      <!-- search was here -->
    </div>
  </div>

        <div class="header-item embedded-searchbar">
            <% if elastic_search? %>
              <form method="get" action="/search">
                <input name="q" placeholder="search" class="search-box" />
              </form>
            <% else %>
              <gcse:searchbox></gcse:searchbox>
            <% end %>
        </div>
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <div class="header-links mobile-only">
          <div class="header-item" id="docs-header-item">
            <a href="https://docs.pivotal.io">All docs</a>
          </div>
          <div class="header-item">
            <a href="https://network.pivotal.io">Downloads</a>
          </div>
          <div class="header-item">
            <a href="https://tanzu.vmware.com/support">Support</a>
          </div>
          <div class="header-item" id="contact-header-item">
            <a href="https://tanzu.vmware.com/contact">Contact Us</a>
          </div>
          <div class="header-item">
            <a href="https://login.run.pivotal.io">Sign In</a>
          </div>

          <div class="header-item embedded-searchbar">
              <% if elastic_search? %>
                <form method="get" action="/search">
                  <input name="q" placeholder="search" class="search-box" />
                </form>
              <% else %>
                <gcse:searchbox></gcse:searchbox>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  
<%= partial 'layouts/book-header' %>
